

<div class="">
  <div class="" style="margin-top:10%;margin-left:10%;width:80%;">
    <p>Notification</p>
    <p>Hi, <%=@giver.name%> ! </p>
    <p>Your will be the Santa of <%= @receiver.name %> for the event of <%= @user.name %></p>
  </div>
</div>
