
<div class="navbar">
  <% if user_signed_in? %>
    <div class="right">
      <p><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class:'menu-link' %></p> </div>
    <% else %>
    <div class="right">
      <p><%= link_to "SIGNIN/SIGNUP", new_user_session_path, class:'menu-link'  %></p>
    </div>
  <% end %>
</div>
